/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

header {

    background-color: rgb(229, 136, 24);
}

h1 {

    color: rgb(250,250, 250);
    font-family: Sutro, serif; 
    font-size: 2.5em;
    font-weight: 700;
    font-style: normal;
    padding: 1rem 1.5rem;

}

h2 {

    color: rgb(246, 221, 189);
    font-family: Sutro, serif;
    font-size: 1.5em;
    font-weight: 300;
    font-style: normal;
    padding: 0rem 1.5rem 1rem;
}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
    object-fit: cover;
}

figcaption {

    font-family: poppins, san-serif;
    font-weight: 400;
    font-style: italic;
    padding: 1rem 1rem 1rem 1.5rem;

}

figure {

    display:grid;
    grid-template-columns: 80% 20%;
}

div.container {

    max-width: 70em;
    margin: auto;
}

h3 {

    color: rgb(229, 136, 24);
    text-transform: uppercase;
    font-family: Sutro, serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.1em;
    font-size: 1.25em;
    margin: 0rem 2rem 0.5rem 0rem;
    padding-top: 1em;
    border-top: 2px solid rgb(229, 136, 24);

}

ul {

    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}


ol {

    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0rem 1.5rem 1rem;
}

footer {

     background-color: rgb(229, 136, 24);
}

p {
    color: rgb(250,250, 250);
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem 0rem 1rem 1.5rem;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0.5em;
    margin: 3em 2em 2em 3em;

}

li {

     padding: 0rem 0rem 1rem;
}

div.container { 
    background-color: rgb(254, 254, 254);
}

body {

    background-color: rgb(221, 221, 221);
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
